# 2024-02-07 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# http://stackoverflow.com/questions/987142
# http://stackoverflow.com/questions/9162919
# http://stackoverflow.com/questions/8024924#comment15884195_8025106
*
!*/
!/.editorconfig
!/.gitignore
# 2024-02-07 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# "Move Composer credentias from `composer.json` to `auth.json`": https://github.com/mydreamday-fi/site/issues/3
# 		`!/composer.json`
!/readme.md
!/app/code/**/*
!/app/design/frontend/Mydreamday/**/*
!/app/etc/config.php
/dev
# 2024-02-07 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# "How to fix intereceptors generation on `bin/magento setup:di:compile` in Magento ≥ 2.2 in Windows?":
# https://mage2.pro/t/4702
!/setup/src/Magento/Setup/Module/Di/Code/Reader/ClassesScanner.php
/update/
/vendor/aws/aws-crt-php
/vendor/magento/framework/Test
# 2024-02-07 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# "How to fix «Unable to apply data patch Magento\Theme\Setup\Patch\Data\RegisterThemes for module Magento_Theme»
# in Magento ≥ 2.3.5 in Windows?" https://mage2.pro/t/6177
!/vendor/magento/framework/Image/Adapter/Gd2.php
# 2024-02-07 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# "How to fix «file_put_contents(generated/metadata/primary|global|plugin-list.php):
# failed to open stream: No such file or directory
# in lib\internal\Magento\Framework\Interception\PluginListGenerator.php on line 414» in Magento 2.4-develop in Windows?"
# https://mage2.pro/t/6178
!/vendor/magento/framework/Interception/PluginListGenerator.php
# 2024-02-08 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# 1) "Document the website's differences from Magento 2.4.6": https://github.com/mydreamday-fi/site/issues/5
# 2.1) https://github.com/magento/magento2/blob/2.4.6/lib/internal/Magento/Framework/Mview/TriggerCleaner.php#L90-L91
# 2.2) https://github.com/mydreamday-fi/site/blob/2024-02-08/vendor/magento/framework/Mview/TriggerCleaner.php#L90-L96
!/vendor/magento/framework/Mview/TriggerCleaner.php
# 2024-02-07 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# "How to fix the «Invalid template file» / «require_js.phtml» failure for Magento ≥ 2.4.5 in Windows?"
# https://mage2.pro/t/6339
!/vendor/magento/framework/View/Element/Template/File/Validator.php
# 2024-02-08 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# 1) "Document the website's differences from Magento 2.4.6": https://github.com/mydreamday-fi/site/issues/5
# 2.1) https://github.com/magento/magento2/blob/2.4.6/app/code/Magento/Catalog/Model/Indexer/Product/Price/AbstractAction.php#L181-L183
# 2.2) https://github.com/mydreamday-fi/site/blob/2024-02-08-2/vendor/magento/module-catalog/Model/Indexer/Product/Price/AbstractAction.php#L183-L188
# 3) The change has been ported by someone from Magento 2.4.7-beta2:
# https://github.com/magento/magento2/blob/2.4.7-beta2/app/code/Magento/Catalog/Model/Indexer/Product/Price/AbstractAction.php#L183
!/vendor/magento/module-catalog/Model/Indexer/Product/Price/AbstractAction.php
# 2024-02-12 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# 1) "How to adapt `Magento\Catalog\Model\View\Asset\Image::getUrl()` to Windows in Magento ≥ 2.4.2?":
# https://mage2.pro/t/6411
# 2) "How to adapt `Magento\Catalog\Model\View\Asset\Image::getImageInfo()` to Windows in Magento ≥ 2.3.0?":
# https://mage2.pro/t/6412
# 3) "The `Swissup_Pagespeed` module breaks URLs of images in Windows": https://github.com/mydreamday-fi/site/issues/19
# 4) "The `Swissup_Pagespeed` module breaks URLs of products' images in Windows": https://github.com/mydreamday-fi/site/issues/18
# 5) "The `Swissup_Pagespeed` module breaks URLs of categories' images in Windows":
# https://github.com/mydreamday-fi/site/issues/17
!/vendor/magento/module-catalog/Model/View/Asset/Image.php
# 2024-02-10 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# «Reference to undeclared plugin with name 'update_grouped_product_stock_status_plugin'»:
# https://github.com/mydreamday-fi/site/issues/12
!/vendor/magento/module-inventory-import-export/etc/di.xml
# 2024-02-08 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# 1) "Document the website's differences from Magento 2.4.6": https://github.com/mydreamday-fi/site/issues/5
# 2.1) https://github.com/magento/magento2/blob/2.4.6/app/code/Magento/Theme/Block/Html/Topmenu.php#L249-L251
# 2.2) https://github.com/mydreamday-fi/site/blob/2024-02-08-3/vendor/magento/module-theme/Block/Html/Topmenu.php#L249-L254
!/vendor/magento/module-theme/Block/Html/Topmenu.php
# 2024-02-12 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# "The `Swissup_Pagespeed` module breaks URLs of categories' images in Windows": https://github.com/mydreamday-fi/site/issues/17
!/vendor/swissup/module-pagespeed/Model/Optimiser/Image/Responsive.php
/vendor/magento/magento2-base
/vendor/magento/magento2-functional-testing-framework
/vendor/tubalmartin
# 2023-07-22 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# Today I noticed that `git add . && git commit -a -m refactoring && git push`
# started to commit subfolders which are git repositories (for an unknown reason).
/_my
/vendor/mage2pro
/vendor/mydreamday