<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Mydreamday_Saldo::saldo_checker" title="Saldo Checker" sortOrder="10" >
                    <resource id="Mydreamday_Saldo::manage" title="Manage Saldo" sortOrder="10" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>