<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mydreamday_PickChecker::pickchecker" title="Pick Checker" translate="title" module="Mydreamday_PickChecker" sortOrder="999" parent="Magento_Sales::sales_operation" action="pickchecker/scaninvoice/index" resource="Mydreamday_PickChecker::pickchecker" />
    </menu>
</config>
