<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_save_after">
        <observer name="postnord_shipment_save_after" instance="David\PostNord\Observer\ShipmentObserver" />
    </event>
    <event name="sales_order_place_before">
      <observer name="postnord_sales_order_place_before" instance="David\PostNord\Observer\OrderObserver" />
    </event>
</config>
