<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magetrend\PdfTemplates\Model\Pdf\Element\Items">
        <plugin name="customsort" type="Magetrend\PdfCustomSort\Plugin\Items" sortOrder="1" disabled="false" />
    </type>
</config>