<div id="checkout-shipping-method-load">
    <table class="table-checkout-shipping-method">
        <thead>
            <tr class="row">
                <th class="col col-method" translate="'Select Method'"></th>
                <th class="col col-method" translate="'Method Title'"></th>
                <!-- Column for triggers -->
                <th class="col"></th>
            </tr>
        </thead>
        <!-- tbody was moved inside item template -->

       
        <!-- ko foreach: { data: rates(), as: 'method'} -->
            <!-- ko if: method.carrier_code == 'bringpickup' -->
                <!-- ko if: $index() == 0 -->
                    <tbody collapsible="as: '$collapsible_' + method.method_code">
                        <tr class="row">
                            <td class="col col-method">
                                <input type="radio" class="radio" click="element.selectShippingMethod" ifnot="method.error_message"
                                    ko-checked="element.isSelected" ko-value="method.carrier_code + '_' + method.method_code" attr="'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code,
                                                        'checked': element.rates().length == 1 || element.isSelected" />
                            </td>

                            <td class="col col-method" attr="'id': 'label_method_' + method.method_code + '_' + method.carrier_code"
                                data-bind="i18n: method.carrier_title" />
                            <!-- ko if: method.carrier_code == "bringpickup" || method.carrier_code == "bringdelivered" -->
                            <td class="col bring-logo" rowspan="2">
                                <each args="element.getRegion('price')" render="" />
                            </td>
                            <!-- /ko -->
                        </tr>
                        <tr>
                            <td colspan="4">
                                <div class="mdd-shipping-carrier-chooser-container">
                                    <div class="mdd-shipping-carrier-container">
                                        <!--ko if: $parent.selectedBringPickup-->
                                        <div class="mdd-shipping-pickup">
                                            <div class="mdd-shipping-pickup-image"><img data-bind="attr: { src: window.checkoutConfig.bring.logoUrl }"></div>
                                            <div class="mdd-shipping-pickup-office" data-bind="text: $parent.selectedBringPickup().carrier_title, attr: {'id': 'label_carrier_' + $parent.selectedBringPickup().method_code + '_' + $parent.selectedBringPickup().carrier_code}"></div>
                                        </div>
                                        <!-- /ko -->
                                        <button class="mdd-shipping-option-button"
                                                type="button">
                                            <span data-bind="i18n: 'Change'"></span>
                                        </button>
                                    </div>
                                </div>
                            </td>
                           
                        </tr>
                        <!-- ko if: method.extension_attributes  -->
                        <tr class="row">
                            <td class="col col-method bring-method-description" colspan="5" i18n="'Some description.'"
                                data-bind="text: method.extension_attributes.method_description" />
                        </tr>
                        <!-- /ko -->
                        <!-- Row for shipping method description -->
                        <tr class="row" visible="$context['$collapsible_' + method.method_code].opened">
                            <td class="col" colspan="5" i18n="'Some description.'" />
                        </tr>
                        <tr class="row row-error" if="method.error_message">
                            <td class="col col-error" colspan="5">
                                <div role="alert" class="message error">
                                    <div text="method.error_message"></div>
                                </div>
                                <span class="no-display">
                                    <input type="radio"
                                        attr="'value' : method.method_code, 'id': 's_method_' + method.method_code" />
                                </span>
                            </td>
                        </tr>
                    </tbody>
                <!-- /ko -->
            <!-- /ko -->
        <!-- ko if: method.carrier_code == 'bringdelivered' -->
            <tbody collapsible="as: '$collapsible_' + method.method_code">
                <tr class="row">
                    <td class="col col-method">
                        <input type="radio" class="radio" click="element.selectShippingMethod" ifnot="method.error_message"
                            ko-checked="element.isSelected" ko-value="method.carrier_code + '_' + method.method_code" attr="'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code,
                                                'checked': element.rates().length == 1 || element.isSelected" />
                    </td>

                    <td class="col col-method" attr="'id': 'label_method_' + method.method_code + '_' + method.carrier_code"
                        data-bind="i18n: method.carrier_title" />
                    <!-- ko if: method.carrier_code == "bringpickup" || method.carrier_code == "bringdelivered" -->
                    <td class="col bring-logo" rowspan="2">
                        <each args="element.getRegion('price')" render="" />
                        <img data-bind="attr: { src: window.checkoutConfig.bring.logoUrl }">
                    </td>
                    <!-- /ko -->
                </tr>
                <!-- ko if: method.extension_attributes  -->
                <tr class="row">
                    <td class="col col-method bring-method-description" colspan="5" i18n="'Some description.'"
                        data-bind="text: method.extension_attributes.method_description" />
                </tr>
                <!-- /ko -->
                <!-- Row for shipping method description -->
                <tr class="row" visible="$context['$collapsible_' + method.method_code].opened">
                    <td class="col" colspan="5" i18n="'Some description.'" />
                </tr>
                <tr class="row row-error" if="method.error_message">
                    <td class="col col-error" colspan="5">
                        <div role="alert" class="message error">
                            <div text="method.error_message"></div>
                        </div>
                        <span class="no-display">
                            <input type="radio"
                                attr="'value' : method.method_code, 'id': 's_method_' + method.method_code" />
                        </span>
                    </td>
                </tr>
            </tbody>
        <!-- /ko -->

        <!-- /ko -->
    </table>
</div>
