.glider-contain {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.glider, .glider-new-products, .glider-popular-themes {
  margin: 0 auto;
  position: relative;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  transform: translateZ(0);
}
.glider-track {
  transform: translateZ(0);
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  z-index: 1;
}
.glider.draggable {
  user-select: none;
  cursor: -webkit-grab;
  cursor: grab;
}
.glider.draggable .glider-slide img {
  user-select: none;
  pointer-events: none;
}
.glider.drag {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.glider-slide {
  user-select: none;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.glider-slide img {
  max-width: 100%;
}
.glider::-webkit-scrollbar, .glider-new-products::-webkit-scrollbar, .glider-popular-themes::-webkit-scrollbar {
  opacity: 0;
  height: 0;
}
.glider-prev, .glider-next, .glider-new-products-prev, .glider-new-products-next, .glider-popular-themes-prev, .glider-popular-themes-next {
  user-select: none;
  position: absolute;
  background: none;
  padding: 0;
  z-index: 2;
  left: -28px;
  border: 0;
  top: 40%;
  color: #ccc;
  transition: opacity .5s cubic-bezier(.17,.67,.83,.67),
              color .5s cubic-bezier(.17,.67,.83,.67);
}
.glider-prev:hover, .glider-next:hover, .glider-prev:focus, .glider-next:focus, .glider-new-products-prev:hover, .glider-new-products-next:hover, .glider-popular-themes-prev:hover, .glider-popular-themes-next:hover, .glider-new-products-prev:focus, .glider-new-products-next:focus, .glider-popular-themes-prev:focus, .glider-popular-themes-next:focus {
  color: #777;
}
.glider-next, .glider-new-products-next, .glider-popular-themes-next {
  right: -28px;
  left: auto;
}
.glider-popular-themes-next, .glider-popular-themes-prev { top: 44.5%; }
.glider-next.disabled, .glider-prev.disabled, .glider-new-products-prev.disabled, .glider-new-products-next.disabled, .glider-popular-themes-prev.disabled, .glider-popular-themes-next.disabled {
  opacity: .25;
  color: #666;
  cursor: default;
}
.glider-slide {
  min-width: 150px;
}
.glider-hide {
  opacity: 0;
}
@media(max-width: 36em){
  .glider::-webkit-scrollbar, .glider-new-products::-webkit-scrollbar, .glider-popular-themes::-webkit-scrollbar {
    opacity: 1;
    -webkit-appearance: none;
    width: 7px;
    height: 3px;
  }
  .glider::-webkit-scrollbar-thumb, .glider-new-products::-webkit-scrollbar-thumb, .glider-popular-themes::-webkit-scrollbar-thumb {
    opacity: 1;
    border-radius: 99px;
    background-color: rgba(156, 156, 156, 0.25);
    box-shadow: 0 0 1px rgba(255,255,255,.25);
  }
}
@media screen and (max-width: 767px){
	.glider-prev, .glider-next, .glider-new-products-prev, .glider-new-products-next, .glider-popular-themes-prev, .glider-popular-themes-next {
	  left: -3px;
	}
	.glider-next, .glider-new-products-next, .glider-popular-themes-next {
	  right: -3px;
	  left: auto;
	}
}
