<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mydreamday_Navigation::mobile_navigation"
             title="Mobile Navigation"
             module="Mydreamday_Navigation"
             sortOrder="40"
             parent="Magento_Catalog::catalog_categories"
             action="adminhtml/system_config/edit/section/navigation"
             resource="Mydreamday_Navigation::mobile_navigation"/>
    </menu>
</config>
